<ion-view>
  <!--
  <ion-header-bar align-title="center">
    <div class="buttons">
      <button class="button button-clear button-assertive" ng-click="logout()">Logout</button>
    </div>
    <h1 class="title"><img class="title-image" src="img/ionic.png" width="34" height="34" /></h1>
  </ion-header-bar>
  -->


  <!--
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon"><img src="img/ionic.png" width="30" height="30" /></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button menu-toggle="right" class="button button-icon icon ion-android-more-horizontal"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <ion-side-menus>
      <ion-side-menu side="left">
      </ion-side-menu>

      <ion-side-menu-content>
        <ion-nav-view>
          <h1>Left</h1>
        </ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="right">
        <ion-side-menu-content>
          <ion-nav-view>
            <h1>Right</h1>
          </ion-nav-view>
        </ion-side-menu-content>
      </ion-side-menu>

    </ion-side-menus>

</ion-content>
  -->
  <ion-side-menus enable-menu-with-back-views="false">



    <ion-side-menu-content>
      <ion-nav-bar class="bar-calm" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>

        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon"><img src="img/meanstack-logo.png" width="30" height="30" /></button>
        </ion-nav-buttons>

        <ion-nav-title>
          <h1 class="title">
            Chat
          </h1>
        </ion-nav-title>

        <ion-nav-buttons side="right">
          <button class="button button-icon icon ion-search" ng-click="globalSearch()" ng-show="activeChannel != null"></button>
          <button menu-toggle="right" class="button button-icon icon ion-android-more-horizontal"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view name="menuContent">

      </ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

      <div id="filter"></div>
      <!--
      <ion-header-bar class="bar-clear">

        <h1 class="title">
          <img src="img/full-white-mini.png" width="180" height="60"/> <br>
          {{username}}
        </h1>
        <div class="buttons">
          <button class="button icon ion-log-out button-assertive" ng-click="logout()"></button>
        </div>
      </ion-header-bar>
      -->
      <ion-content>

        <!-- headers -->
        <div class="sideLogo">
          <img class="sideLogoImg" src="img/full-white-mini.png" width="180" height="60"/>
        </div>
        <div class="sideUserName sideItem">
          <span class="inactiveTitle toggleTitleLeft">
              Forum
            </span>
          <label class="toggle toggle-calm toggle-middle" ng-click="goToForum();">
            <input type="checkbox" checked>
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          <span class="toggleTitleRight">
            Chat
          </span>
        </div>
        <div class="item sideItem sideUserName" >
          <img ng-if="username !== undefined" ng-src="http://www.gravatar.com/avatar/{{getHash(window.localStorage.getItem('mail'))}}?s=30&d=identicon"
               alt="User Avatar" xclass="img-circle" style="border-radius: 100%;"/>
          <div>
            <label class="col sideUserNameMain" ng-if="username !== undefined" ng-click="showLogoutAction()"><strong>{{'@'+username}}</strong> <span class="icon ion-android-arrow-dropdown"></span> </label>
            <button ng-if="username == undefined" ng-click="login()" class="button button-positive button-block">Login</button>
          </div>
        </div>

        <!-- Item List -->
        <ion-list>
          <!-- Invitations -->
          <ion-item class="item-divider item-icon-right item-energized" ng-show="invitations.length > 0" ng-click="toggleInvitations()">
            Invitations
            <span class="badge badge-assertive">{{invitations.length}}</span>
          </ion-item>

          <div class="invitations list" ng-show="showInvitations">
            <div ng-repeat="invitation in invitations">
              <ion-item class="sideItem item-icon-left item-button-right">
                <i class="icon ion-alert-circled"> </i>
                {{invitation.groupName}}
                <div class="buttons">
                  <button class="button button-balanced button-small" ng-click="acceptInvitation(invitation, $index)">
                    <i class="icon ion-thumbsup"></i>
                  </button>
                  <button class="button button-assertive button-small" ng-click="refuseInvitation(invitation, $index)">
                    <i class="icon ion-thumbsdown"></i>
                  </button>
                </div>
              </ion-item>
            </div>
          </div>
          <!-- Groups -->
          <ion-item ng-click="updateActiveGroup(-1); unhideChannels(false); unhideUsers(false); $parent.$parent.selectedSideIndex = '';" class="item-positive item-divider item-divider-principal">
            <i class="icon ion-arrow-up-a" ng-show="activeGroup !== -1"></i>
            Groups
            <div class="item-icon-right">
            <i class="icon ion-plus-circled" ng-click="showNewGroupPopup()"></i>
            </div>
          </ion-item>

          <div class="groups" ng-show="showGroups">
            <div ng-repeat="group in groups">
              <ion-item class="sideItem" ng-click="updateActiveGroup($index); unhideChannels(true); unhideUsers(true);" ng-show="activeGroup === $index || activeGroup === -1">
                <span class="icon ion-android-contacts"> </span>
                {{group.groupName}}
                <span class="badge badge-assertive" id="{{group.id}}-badge" ng-show="notifications[group.id] > 0">{{notifications[group.id]}}</span>
              </ion-item>
            </div>
          </div>
          <!-- Channels -->
          <ion-item class="item-divider item-positive item-icon-right" ng-show="showChannels">
            Channels
          </ion-item>

          <ion-item class="item-divider item-icon-right" ng-show="showChannels">
            Public
            <span class="icon ion-plus-circled" ng-click="showNewChannelPopup('PUBLIC')"></span>
          </ion-item>

          <div class="channels" ng-show="showChannels">
            <div ng-repeat="group in groups">
              <div ng-show="activeGroup === $parent.$index" ng-repeat="channels in group.publicChannels">
                <ion-item class="sideItem" ng-click="$parent.$parent.$parent.$parent.selectedSideIndex=channels.id; selectChannel($index, 'public');" ng-class="{activeTile: $parent.$parent.$parent.$parent.selectedSideIndex==channels.id}" menu-close>
                  <span class="icon ion-android-chat"> </span>
                  {{channels.channelName}}
                  <span class="badge badge-assertive" id="{{channels.id}}-badge" ng-show="notifications[channels.id] > 0">{{notifications[channels.id]}}</span>
                </ion-item>
              </div>
            </div>
          </div>

          <ion-item class="item-divider item-icon-right" ng-show="showChannels">
            Private
            <span class="icon ion-plus-circled" ng-click="showNewChannelPopup('PRIVATE')"></span>
          </ion-item>

          <div class="channels" ng-show="showChannels">
            <div ng-repeat="group in groups">
              <div ng-show="activeGroup === $parent.$index" ng-repeat="channels in group.privateChannels">
                <ion-item class="sideItem" ng-click="clearMessages(); selectChannel($index, 'private'); $parent.$parent.$parent.$parent.selectedSideIndex=channels.id;" ng-class="{activeTile: $parent.$parent.$parent.$parent.selectedSideIndex==channels.id}"  menu-close>
                  <span class="icon ion-android-chat"> </span>
                  {{channels.channelName}}
                  <span class="badge badge-assertive" id="{{channels.id}}-badge" ng-show="notifications[channels.id] > 0">{{notifications[channels.id]}}</span>
                </ion-item>
              </div>
            </div>
          </div>

          <!-- Users -->
          <ion-item class="item-divider item-positive item-icon-right" ng-show="showUsers">
            Users
            <!--
            <span class="icon ion-plus-circled" ng-click="showInviteUserPopup()"></span>
            -->
            <span class="icon ion-plus-circled" ng-click="search()"></span>
          </ion-item>

          <div class="users" ng-show="showUsers">
            <div ng-repeat="group in groups">
              <div ng-show="activeGroup === $parent.$index" ng-repeat="user in group.users">
                <ion-item class="sideItem" ng-click="searchDirectChannel(user); $parent.$parent.$parent.$parent.selectedSideIndex=user.mail;" ng-class="{activeTile: $parent.$parent.$parent.$parent.selectedSideIndex==user.mail}" ng-show="user.id != userid" menu-close>
                  <span class="icon ion-ios-checkmark" ng-class="users[user.id] ? 'balanced' : ''"> </span>
                  {{user.username}}
                  <span class="badge badge-assertive" id="{{user.id}}-badge" ng-show="notifications[user.id] > 0">{{notifications[user.id]}}</span>
                </ion-item>
              </div>
            </div>
          </div>
          <!--
          <ion-item menu-close href="#/app/search">
            Search
          </ion-item>
          <ion-item menu-close href="#/app/browse">
            Browse
          </ion-item>
          <ion-item menu-close href="#/app/playlists">
            Playlists
          </ion-item>
          -->
        </ion-list>
      </ion-content>
    </ion-side-menu>

    <ion-side-menu side="right">
      <div class="bar bar-header">
        <label class="item item-input row">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
      </div>
      <ion-content id="rightBarContent" class="has-header">
        <!--
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        -->
        <ion-list id="menuList" style="height:100%;">
          <ion-item class="row" style="height: 33.3%; background-color: #343434; border-bottom-color: yellow; border-top-color: yellow;">
            <h2 class="col col-center" style="color: white; font-size: 150%;">
              <span class="icon ion-android-document"></span>
              Files
            </h2>
          </ion-item>
          <ion-item class="row" style="height: 33.3%; background-color: #343434; border-bottom-color: yellow; border-top-color: yellow;">
            <h2 class="col col-center" style="color: white; font-size: 150%;">
              <span class="icon ion-android-contact"></span>
              Users
            </h2>
          </ion-item>
          <ion-item class="row" style="height: 33.3%; background-color: #343434; border-bottom-color: yellow; border-top-color: yellow;">
            <h2 class="col col-center" style="color: white; font-size: 150%;">
              <span class="icon ion-gear-b"></span>
              Settings
            </h2>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>

</ion-view>
